.u-section-1 {
  background-image: url("images/869923.gif");
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  animation-duration: 1000ms;
  margin: 17px auto 0 308px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  animation-duration: 1000ms;
  margin: -26px auto 0 446px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  animation-duration: 1000ms;
  margin: -26px auto 0 552px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  animation-duration: 1000ms;
  margin: -26px auto 0 701px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 319px 420px 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  animation-duration: 4000ms;
  margin: 0 auto 60px 491px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 208px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 346px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 452px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 601px;
  }

  .u-section-1 .u-text-1 {
    width: 300px;
    margin-right: 320px;
    margin-left: 335px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 154px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 180px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 286px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 435px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 210px;
    margin-bottom: 48px;
    margin-left: 241px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -9px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -53px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 1px;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 255px;
  }

  .u-section-1 .u-text-1 {
    margin: 238px 120px 0 176px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -37px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 55px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 252px;
    margin-right: 20px;
    margin-left: 101px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 110px;
}

.u-section-2 .u-icon-1 {
  height: 37px;
  width: 37px;
  background-image: none;
  margin: 21px auto 0 552px;
}

.u-section-2 .u-text-1 {
  margin: 10px 519px 0 485px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin: -27px auto 21px 621px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 419px;
    margin-left: 397px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-right: 419px;
    margin-left: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 309px;
    margin-left: 336px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -27px;
    margin-right: auto;
    margin-left: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-left: 503px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 219px;
    margin-left: 298px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-left: 303px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 119px;
    margin-left: 169px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 26px;
  }
}